<config version="1.0">
    <appSettings>
        <add key="dropsend.configured" value="yes"/>
        <add key="uploading.max_chunk_size" value="2"/>
        <add key="loginform.email" value="andrey.pesoshin@flatsoft.com"/>
        <add key="loginform.domain" value="myaccount-stage.dropsend.com"/>
        <add key="loginform.password" value="1234567"/>
        <add key="uploading.autodetect.speed" value="0"/>
    </appSettings>
    <connection/>
    <profiles/>
</config>
